* {
  margin: 0;
  padding: 0;
}

body.bg1 {
  background-image: url(../img/bg1.jpg);
  background-position: fixed;
  background-size: cover;
}
form {
  width: 24%;
}
.login {
  /* border: 3px solid rgb(115, 44, 159) ; */
  /* background-color: rgb(243, 210, 245); */
  /* width: 50%; */
  /* margin-right: 50px; */
  height: 100vh;
  display: flex;
  justify-content: center;
}
.login form {
  align-self: center;
}
.form-labellogin {
  /* color: rgb(0, 0, 0); */
  
}

/* .form-control{
    width: 80%;
} */

/* .lablelogin{
   margin-left: 30px;
   width: 100%;
} */

#loginbt {
  text-align: center;
}

.login-button {
  background-color: #4aadd8;
}

.login-button:hover {
  border: 1px solid #4aadd8;
}

#loginbutton1:hover {
  background-color: gold;
  color: black;
}

.loginA {
  margin-left: 30px;
  padding: 0;
}
/* .login_ul_li{
    
    border: 1px solid red;
    padding: 5px;
    float:right;
    margin-right: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login_ul_li h3{
    text-align: center;
    text-decoration-line:underline;
   
} */

/* sign up page */
body.bg2 {
    background-image: url(../img/bg2.jpg);
    background-position: fixed;
    background-size: cover;
  }



#ag_signup {
  padding: 7%;
  margin-left: 7px;
}

/* home page starts      */
.home-image-border{
    border-radius: 0 10px 10px 0;
    height: 100%;
    object-fit: cover;
}

.home-email-input{
    width: 327px;
}

.text-gray {
    color: #d3d3d3;
}

.book-image-card-height{
  height: 365px;
}

/* book single  */
.single-book-margin{
  margin-top: 11%;
}
